


<div class="container">
<div class="row">
  <div class="card-panel hoverable teal white-text center-align">Tribe4Hire</div>
  <div class="col s12 m4 l3">
    <div class="card">
      <div class="card-image">
        <%= image_tag "#{current_user.image_url}", class: "img-circle img-thumbnail home-image" %>
      </div>
      <div class="card-content">
        <p>I'm a nice guy looking for some work.  I like to work in groups so don't hesitate to ask me to be part of your tribe </p>
      </div>
      <div class="card-action">
        <a href="#"><%= current_user.name %> </a>
      </div>
    </div>

    <div class="row center-align teal lighten-2">
      <h5 class="center white-text z-depth-3 lighten-2">Skills</h5>
    </div>
    <div class="collection">
      <% current_user.skills.each do |skill| %>
        <%= link_to skill.name, skill_path(skill), class: "collection-item" %>
    <% end %>
      <%= link_to "+", new_skill_path, class: "waves-effect waves-light btn" %>
    </div>

    <div class="row center-align teal lighten-2">
      <h5 class="center white-text z-depth-3 lighten-2">Tribes</h5>
    </div>


    <div class="collection">
      <% current_user.tribes.each do |tribe| %>
        <%= link_to tribe.name, tribe_path(tribe), class: "collection-item" %>
      <% end %>
      <%= link_to "+", new_tribe_path, class: "waves-effect waves-light btn" %>
    </div>


  </div>



  <div class="col s12 m4 l9">

      <h5 class="center">Open source projects</h5>
      <table class="hoverable responsive-table centered">
        <thead>
        <tr>
          <th data-field="name">project name</th>
          <th data-field="created_on">created on</th>
          <th data-field="forks">number of forks</th>
        </tr>
        </thead>

        <tbody>
        <% @user.repos.each do |repo| %>
          <tr>
            <td><%=  link_to repo.name, repo.url %></td>
            <td><%=  repo.created_at %></td>
            <td><%=  repo.forks %></td>
          </tr>
        <% end %>
        </tbody>
      </table>


  </div>
</div>



</div>



